h1 {
    margin: 1rem;
    margin-top: 2rem;
}
.container {
    display: flex;
}

.colorPicker {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: aliceblue;
    margin: 1rem;
}

.colorPicker button {
    background-color: black;
    color: aliceblue;
    padding: 0.4rem;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 0.2rem;
}
.colorPicker button:hover {
    cursor: pointer;
}

.grid-container {
  display: grid;
  /* Creates 16 equal columns */
  grid-template-columns: repeat(16, 1fr); 
  /* Sets the total size of your grid */
  width: 400px;
  height: 400px;
  border: 1px solid #000;
}

.grid-item {
  border: 1px solid #ccc;
  /* Ensures square cells if width/height of container is equal */
  aspect-ratio: 1 / 1; 
}

.color-box{
    height: 50px;
    width: 50px;
}


.color-box{
    background-color: grey;
}
.box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
