nav {
    padding: 20px;
    background-color: red;
}
nav > ul {
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

nav > ul > li {
    list-style: none;
}

nav {
    background-color: black;
    color: rgb(226, 226, 226);
}